.count-card {
  width: 100%;
  height: 130px;
  border-radius: 5px;
  font-size: 80px;
  display: flex;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
  .icon-box {
    flex: 3;
    display: flex;
    border-radius: 5px 0 0 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: white;
    font-size: 16px;
    padding: 10px;
    i {
      font-size: 65px;
      margin-bottom: 6px;
    }
  }
  .count-to-wrapper {
    flex: 7;
    .slot-text {
      font-size: 48px;
    }
  }
}