.get_msg {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
}

.chat_page_container{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  .chat_window{
    min-width: 460px;
    margin: 0 15px 30px 15px;
    box-sizing: border-box;
    background-color: white;
    flex: 0 0 25%;
  }
}
.preview-image-box{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  img{
    width: 30%;
    height: auto;
  }
  .iconStyle{
    position: absolute;
    top: 0%;
    right: 0;
    width: 80px!important;
    height: 80px!important;
    z-index: 9999;
    cursor: pointer;
    fill: #333!important;
    background-color: #fff;
    &:hover{
      fill: #000!important;
    }
  }
}
