$mainPurple: #7f1f59;
$mainLightPurple: #b46299;
$getTelIntrobg: #f7f6f5;
$getTelIntrobd: #ece8e6;

$btnActive: #b2b2b2;
$btnHover: #b2b2b2;
$btnClear: #ccc;

$white: #FFF;
$black: #000;
$color00163b:#00163b;
$deeptBlack: #031313;
$middletBlack: #808080;
$lightBlack: #333;
$lightBlackdo: #d0d0d0;
$gray: #999;
$deepGray: #666;
$middleGray: #808080;
$lightGray: #ccc;
$gray79: #797979;
$gray78: #787878;
$grayAA: #aaa;
$lightPurple: #cde4ff;
$deepPurple: #4990e2;
$whiteActive: #fafafa;

$lightGreen: #0aa7a9;
$color51d9ff:#51d9ff;
$color66f8a4:#66f8a4;
$deepGreen: #20b6b9;
$color00b5b7:#00b5b7;
$lightBlue: #73a9e6;
$red: red;
$colorededed:#ededed;
$deepRed: #666;
$middleRed: #808080;
$ligthRed:#F40F0F;
$fzActive: #b2b2b2;
$blue:blue;
$lintgreen:#0CD19C;
$lightGreen: #0aa7a9;
$color51d9ff:#51d9ff;
$color66f8a4:#66f8a4;
$color00b5b7:#00b5b7;
$lintBlue:#0aa7a9;
$colorededed:#ededed;
$fsGreen: #05b8ba;
$lintBgGreen:#d9f1f2;

$mainBgc: #ccc7c7;

$mainBdc: #d8d8d8;

$listBorderColor: #e6e6e6;

$mainInputBdc: #ece8e6;

$mheadSlimBgc: #faf8f9;
$mheadSlimBdc: #e6e6e6;
$yellow:#ffc805;
$blue:#5c74e2;
$lintblue:#4d66d9;
$lintsblue:#aaa3b6;
$deepblue:#270055;

$mfootBgc: #e6e6e6;
$mfootBdc: #e6e6e6;
$mfootColor:#e6e6e6;
$topCueBg:#ddf1f2;
$color00163b:#00163b;
$activeColor: #dc3f28;
$tagColor: #C7EFEF;
$lineColor: #efefef;
$activeColordc: #dc5345;

$themeColor: #28B8A1;
